# Ignore the virtual environment directory
venv/

# Ignore Python cache files and directories
__pycache__/
*.pyc
*.pyo

# Ignore Django-related files
*.sqlite3
*.log

# Ignore database migrations (you might want to include migrations in version control)
*/migrations/

# Ignore secret keys and sensitive information
.env
*.secret_key
